@import '../storage/mixins/mixins.scss';

.header__title {
  font-size: 2.2em;

  @include adaptive(phone) {
    font-size: 1.5em;
  }
}

.popup__text {
  margin-bottom: 27px;
  font-size: 1.3em;
  font-style: italic;
}

.popup__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include adaptive(phone) {
    flex-direction: column;
  }
}

.popup__button {
  max-width: 170px;
  padding: 5px 15px;
  margin: 0 10px;

  @include adaptive(phone) {
    max-width: inherit;
    width: 100%;
    padding: 8px 15px;
    margin: 8px 10px;
  }

  text-align: center;
  cursor: pointer;
  font-size: 1.2em;
  transition-duration: 0.3s;
  background: #e5e5e5;
  border: 1px solid #0003;
  border-radius: 5px;
  outline: none;
  box-shadow: 5px 5px 5px #0003;
  text-transform: uppercase;

  &:hover {
    background: #2f8fd8;
    border: 1px solid transparent;
  }
}
