@import '../storage/mixins/mixins.scss';

.Form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__output {
    margin-top: 10px;
    font-size: 1.5em;

    @include adaptive(phone) {
      font-size: 1.2em;
    }
  }

  &__submit {
    padding: 10px 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    transition-duration: 0.3s;
    background: #e5e5e5;
    border: 1px solid #0003;
    border-radius: 5px;
    outline: none;
    box-shadow: 5px 5px 5px #0003;
    text-transform: uppercase;

    &:hover {
      background: #2f8fd8;
      border: 1px solid transparent;
    }
  }
}
