@import '../../storage/mixins/mixins.scss';

.Nav {
  @include adaptive(phone) {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    border: 1px solid #fff;

    @include adaptive(phone) {
      border: none;
    }
  }

  a {
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    background: #0002;
    border: 1px solid #fff;
    transition: all 200ms ease-in-out;

    @include adaptive(smartphone) {
      padding: 10px 30px;
      margin-right: 10px;
    }

    @include adaptive(phone) {
      margin: 5px 0;
      padding: 0;
      line-height: 2.5;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:hover {
      background: #ccc7;

      @include adaptive(smartphone) {
        padding: 10px 30px;
      }

      @include adaptive(phone) {
        padding: 0;
        background: #0002;
      }
    }
  }
}
