@import '../../../storage/mixins/mixins.scss';

.CardWrapper {
  perspective: 800px;
  display: inline-block;
}

.Card {
  width: 137px;
  height: 197px;
  margin: 10px;
  transition: 0.3s ease;
  opacity: 1;
  cursor: pointer;
  transform-style: preserve-3d;
  position: relative;
  user-select: none;

  @include adaptive(tablet) {
    width: 110px;
    height: 150px;
    margin: 5px;
  }
  @include adaptive(phone) {
    width: 70px;
    height: 95px;
    margin: 2px;
  }

  &__hidden {
    transform: translateY(-40px);
    opacity: 0;
  }

  &__active {
    transform: rotateY(180deg);
  }
  &__checked {
    transform: rotateY(630deg);
  }

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  .back {
    z-index: 2;
  }

  .front {
    transform: rotateY(180deg);
  }
}
