@import '../../storage/mixins/mixins.scss';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: 'Segoe Print', Arial, monospace;
  }

  @include adaptive(tablet) {
    flex-wrap: wrap;
    line-height: 3em;
  }
}
