@import './storage/mixins/mixins.scss';

.App {
  min-height: 100vh;
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  padding: 20px;

  @include adaptive(tablet) {
    text-align: center;
  }
}
