@import '../../storage/mixins/mixins.scss';

.Popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0009;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  &__window {
    min-width: 150px;
    min-height: 200px;
    max-width: 600px;
    background-color: #fffa;
    border: 2px solid #000;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 10px 10px 10px #000;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  &__title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include adaptive(phone) {
      font-size: 1.3em;
    }
  }
}
